<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Cadastro de Atividades</h4>
                    </div>
                    <div class="content">
                        <form id = "formNewAtividade" name = "formNewAtividade" #atividadeData = "ngForm" (ngSubmit) = "addNewAtividade(atividadeData.value)">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="card" style="width: auto">
                                            <div class="card" style="height: auto">
                                                    <div class="row">
                                                            <div class="form-group input-field col s12" [ngClass]="{'has-error': !name.valid && (name.dirty || name.touched)}">
                                                                    <i class="material-icons prefix">event</i>
                                                                    <input id="icon_nome" type="text" name="nome" class="form-control" #name="ngModel" required ngModel>                                                            
                                                                    <label for="icon_nome" class="control-label">Nome</label>
                                                                    <span class="help-block" *ngIf="name.errors && (name.dirty || name.touched)">
                                                                            <ul>
                                                                                <li *ngIf="name.errors.required">
                                                                                  O campo nome é requerido!
                                                                                </li>
                                                                            </ul>
                                                                    </span>                                                            
                                                                </div>                                                                                                                                                                                                                      
                                                                    <div class="form-group input-field col s12" [ngClass]="{'has-error': !descricao.valid && (descricao.dirty || descricao.touched)}">
                                                                    <i class="material-icons prefix">description</i>
                                                                    <input id="icon_description" type="text" name="descricao" class="form-control" #descricao="ngModel" required ngModel>
                                                                    <label for="icon_description" class="control-label">Descrição</label>
                                                                    <span class="help-block" *ngIf="descricao.errors && (descricao.dirty || descricao.touched)">
                                                                            <ul>
                                                                                <li *ngIf="descricao.errors.required">
                                                                                  O campo descrição é requerido!
                                                                                </li>
                                                                            </ul>
                                                                    </span>
        
                                                                </div>
                                                                <div class="form-group input-field col s12" [ngClass]="{'has-error': !local.valid && (local.dirty || local.touched)}">
                                                                    <i class="material-icons prefix">location_on</i>
                                                                    <input id="icon_local" type="tel" name="local" required class="form-control" #local="ngModel" ngModel>
                                                                    <label for="icon_local" class="control-label">Local</label>
                                                                    <span class="help-block" *ngIf="local.errors && (local.dirty || local.touched)">
                                                                            <ul>
                                                                                <li *ngIf="local.errors.required">
                                                                                  O campo local é requerido!
                                                                                </li>
                                                                            </ul>
                                                                    </span>
                                                                </div>
                                                                <div class="form-group col s6" [ngClass]="{'has-error': !data_inicio.valid && (data_inicio.dirty || data_inicio.touched)}">
                                                                        <i class="material-icons left">today</i><label for="icon_dt-inicio" class="control-label">Data de Inicio</label>
                                                                        <input id="icon_dt-inicio" type="datetime-local" required name="data_inicio" class="form-control" #data_inicio="ngModel" required ngModel>
                                                                        <span class="help-block" *ngIf="data_inicio.errors && (data_inicio.dirty || data_inicio.touched)">
                                                                                <ul>
                                                                                    <li *ngIf="data_inicio.errors.required">
                                                                                      O campo data de início é requerido!
                                                                                    </li>
                                                                                </ul>
                                                                        </span>
                                                                    </div>
                                                                    <div class="form-group col s6" [ngClass]="{'has-error': !data_conclusao.valid && (data_conclusao.dirty || data_conclusao.touched)}">
                                                                            <i class="material-icons left">today</i><label for="icon_dt-conclusao" class="control-label">Data de Inicio</label>
                                                                            <input id="icon_dt-conclusao" type="datetime-local" required name="data_conclusao" class="form-control" #data_conclusao="ngModel" required ngModel>
                                                                            <span class="help-block" *ngIf="data_conclusao.errors && (data_inicio.dirty || data_conclusao.touched)">
                                                                                    <ul>
                                                                                        <li *ngIf="data_conclusao.errors.required">
                                                                                          O campo data de conclusão é requerido!
                                                                                        </li>
                                                                                    </ul>
                                                                            </span>
                                                                        </div>

                                                        <div class="form-group input-field col s6" [ngClass]="{'has-error': !horas.valid && (horas.dirty || horas.touched)}">
                                                            <i class="material-icons prefix">timer</i><label for="icon_local" class="control-label">Quantidade de Horas</label>
                                                            <input id="icon_local" type="text" name="horas" required class="form-control" #horas="ngModel" ngModel> 
                                                            <span class="help-block" *ngIf="horas.errors && (horas.dirty || horas.touched)">
                                                                    <ul>
                                                                        <li *ngIf="horas.errors.required">
                                                                          O campo quantidade de horas é requerido!
                                                                        </li>
                                                                    </ul>
                                                            </span>                                                           
                                                        </div>


                                                        <div class="form-group input-field col s6" [ngClass]="{'has-error': !qtd_inscritos.valid && (qtd_inscritos.dirty || qtd_inscritos.touched)}">
                                                            <i class="material-icons prefix">people</i><label for="icon_local" class="control-label">Quantidade de Inscritos</label>
                                                            <input id="icon_local" type="text" name="qtd_inscritos" required class="form-control" #qtd_inscritos="ngModel" ngModel>                                                            
                                                            <span class="help-block" *ngIf="qtd_inscritos.errors && (qtd_inscritos.dirty || qtd_inscritos.touched)">
                                                                    <ul>
                                                                        <li *ngIf="qtd_inscritos.errors.required">
                                                                          O campo quantidade de inscritos é requerido!
                                                                        </li>
                                                                    </ul>
                                                            </span>
                                                        </div>
                                                            <!-- <div class="form-group col s6" [ngClass]="{'has-error': !type_activity_id.valid && (type_activity_id.dirty || type_activity_id.touched)}">
                                                                    <i class="material-icons prefix">event</i><label for="" class="control-label">Tipo de Atividade</label>
                                                                <select class="browser-default form-control" name="type_activity_id" #type_activity_id="ngModel" required ngModel>
                                                                    <option value="" disabled selected>Escolha o Tipo de Atividade</option>                                        
                                                                    <option *ngFor="let type of typeActivity.data" value="{{type.id}}">{{type.nome}}</option> 
                                                                    <span class="help-block" *ngIf="type_activity_id.errors && (type_activity_id.dirty || type_activity_id.touched)">
                                                                            <ul>
                                                                                <li *ngIf="type_activity_id.errors.required">
                                                                                  O campo tipo de atividade é requerido!
                                                                                </li>
                                                                            </ul>
                                                                    </span>
                                                                </select>                                                        
                                                                </div> -->
                                                                <!-- <div class="form-group col s6" [ngClass]="{'has-error': !evento.valid && (evento.dirty || evento.touched)}">
                                                                        <i class="material-icons prefix">event</i><label for="" class="control-label">Evento</label>
                                                                    <select class="browser-default form-control" name="evento" #evento="ngModel" required ngModel>
                                                                        <option value="" disabled selected>Escolha o Evento</option>                                        
                                                                        <option *ngFor="let event of events.data" value="{{event.id}}">{{event.nome}}</option>                                 
                                                                    </select>                                                        
                                                                    </div> -->
                                                            <div class="form-group col s6" [ngClass]="{'has-error': !type_activity_id.valid && (type_activity_id.dirty || type_activity_id.touched)}">
                                                            <i class="material-icons left">priority_high</i><label for="icon_type_activity" class="control-label">Tipo de Atividade</label>
                                                            <input id="icon_type_activity" type="text" name="type_activity_id" required class="form-control" #type_activity_id="ngModel" ngModel>
                                                            <span class="help-block" *ngIf="type_activity_id.errors && (type_activity_id.dirty || type_activity_id.touched)">
                                                                    <ul>
                                                                        <li *ngIf="type_activity_id.errors.required">
                                                                          O campo tipo de atividade é requerido!
                                                                        </li>
                                                                    </ul>
                                                            </span>
                                                        </div>
                                                        <div class="form-group col s6" [ngClass]="{'has-error': !events_id.valid && (events_id.dirty || events_id.touched)}">
                                                                <i class="material-icons left">event</i><label for="icon_event_id" class="control-label">Evento</label>
                                                                <input id="events_id" type="text" name="events_id" required class="form-control" #events_id="ngModel" ngModel>
                                                                <span class="help-block" *ngIf="events_id.errors && (events_id.dirty || events_id.touched)">
                                                                        <ul>
                                                                            <li *ngIf="events_id.errors.required">
                                                                              O campo evento é requerido!
                                                                            </li>
                                                                        </ul>
                                                                </span>
                                                            </div>                                                       
                                                            <div class="form-group col s12" [ngClass]="{'has-error': !status.valid && (status.dirty || status.touched)}">
                                                                    <i class="material-icons left">priority_high</i><label for="icon_status" class="control-label">Status</label>
                                                                    <input id="icon_status" type="text" name="status" class="form-control" #status="ngModel" required ngModel>
                                                                    <span class="help-block" *ngIf="status.errors && (status.dirty || status.touched)">
                                                                            <ul>
                                                                                <li *ngIf="status.errors.required">
                                                                                  O campo status é requerido!
                                                                                </li>
                                                                            </ul>
                                                                    </span>
                                                                </div>  
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 text-right">
                                    <button type="submit" class="waves-effect waves-light btn green" value="Cadastrar"><i class="material-icons left">save</i>Cadastrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>