<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <i class="material-icons grey-text">check_circle</i>
                </li>
                <li>
                    <a href="#">
                        <p>Validar Certificado</p>
                    </a>
                </li>
                <li>
                    <i class="material-icons grey-text">event</i>
                </li>
                <li class="dropdown">
                    <a href="\dashboard" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Eventos
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="\dashboard">Listar Eventos</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Criar Eventos</a></li>
                        <li><a href="\meus-eventos">Meus Eventos</a></li>
                    </ul>
                </li>
                <li>
                    <i class="material-icons grey-text">account_circle</i>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Nome do Organizador
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="\user">Meu Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Sair</a></li>
                    </ul>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
