<!--<div class="wrapper">
    <div class="sidebar" data-color="darkgreen" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <div *ngIf="isMap('maps')">
            <footer-cmp></footer-cmp>
        </div>
    </div>
</div>-->

<table class="table">
    <thead>
    <tr>
        <th scope="col">cep</th>
        <th scope="col">logradouro</th>
        <th scope="col">complemento</th>
        <th scope="col">bairro</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{data.cep}}</td>
        <td>{{data.logradouro}}</td>
        <td>{{data.complemento}}</td>
        <td>{{data.bairro}}</td>

    </tr>
    </tbody>
</table>
