<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                                <div class="card-action" *ngIf="dtevents.data.situacao != 3">
                                                <a (click) = "deleteEvent(dtevents.data.id)" class="btn waves-light blue right"><i class="material-icons left">check_box</i>Concluir Evento</a>                        
                                </div>
                                <div class="card-action" *ngIf="dtevents.data.situacao == 3">
                                                <a class="btn waves-light disabled blue right"><i class="material-icons left">check_box</i>Evento Concluido</a>                        
                                </div> 
                                <!-- <div class="card-action" *ngIf="dtevents.data.status == 1">
                                        <a (click) = "deleteEvent(dtevents.data.id)" class="btn waves-light red right"><i class="material-icons left">block</i>Desativar</a>                        
                                </div>
                                        <div class="card-action" ng *ngIf="dtevents.data.status == 0">
                                        <a (click) = "activeEvent(dtevents.data.id)" class="btn waves-light green right"><i class="material-icons left">check_box</i>Ativar</a>
                                </div> -->
                                <h4 class="title">{{dtevents.data.nome}}</h4>
                                <p class="category">{{dtevents.data.descricao}}</p>
                                <a [routerLink]="['/cad-atividade']" class="btn waves-effect green right"><i class="material-icons left">add_circle</i>Cadastrar Atividade</a>                                                                              
                    </div>                
                    <div class="content">
                        <div class="row">                            
                        <div class="card">
                            <ul class="col s6">
                                <li>
                                        <p class="category">Local:</p><p>{{dtevents.data.local}}</p>
                                </li>   
                                <li>
                                        <p class="category">Data de Início:</p><p>{{dtevents.data.data_inicio}}</p>
                                </li>   
                                <li>
                                        <p class="category">Data de Conclusão:</p><p>{{dtevents.data.data_conclusao}}</p>
                                </li>   
                                <li>
                                        <p class="category">Situação:</p><p>{{dtevents.data.situacao}}</p>
                                </li>   
                                <li>
                                        <p class="category">Status:</p><p>{{dtevents.data.status}}</p>
                                </li>   
                                <li>
                                        <p class="category">Instituição:</p><p>{{dtevents.data.institutions_id}}</p>
                                        <!-- <p class="category">Instituição:</p><p>{{dtevents.data.institutions_id}}</p> -->
                                </li> 
                                <li>
                                        <p class="category">Coordenador:</p><p>{{dtevents.data.coordenador}}</p>
                                </li>                                                                
                            </ul>                        
                    </div>                                                              
                    <div class="card col s6">
                                <div class="header">
                                                <h4 class="title">Atividades</h4>                                                
                                            </div>                        
                                <div class="card" *ngFor="let activities of activity.data">                                                
                                                        <p>{{activities.nome}}</p><p class="category">{{activities.descricao}}</p>
                                                        <a [routerLink]="['/detalhes-atividade', activities.id]" class="btn-floating waves-light green right"><i class="material-icons small">info</i></a>                                                                                                                               
                                        </div>                                                        
                        </div>                        
                </div>                
                        <a (click) = "deleteEvent(dtevents.data.id)" class="btn-floating waves-light red right"><i class="material-icons">delete</i></a>
                        <a [routerLink]="['/edit-evento', dtevents.data.id]" class="btn-floating waves-light blue right"><i class="material-icons">edit</i></a>
                </div>
             </div>
            </div>
        </div>
    </div>
</div>