<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{dtevents.data.nome}}</h4>
                        <p class="category">{{dtevents.data.descricao}}</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">nome</th>
                                    <th scope="col">descricao</th>
                                    <th scope="col">local</th>
                                    <th scope="col">data inicio</th>
                                    <th scope="col">data conclusao</th>
                                    <th scope="col">situacao</th>
                                    <th scope="col">status</th>
                                    <th scope="col">coordenador</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{dtevents.data.nome}}</td>
                                    <td>{{dtevents.data.descricao}}</td>
                                    <td>{{dtevents.data.local}}</td>
                                    <td>{{dtevents.data.data_inicio}}</td>
                                    <td>{{dtevents.data.data_conclusao}}</td>
                                    <td>{{dtevents.data.situacao}}</td>
                                    <td>{{dtevents.data.status}}</td>
                                    <td>{{dtevents.data.coordenador}}</td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                        <a [routerLink]="['/delete-evento', dtevents.data.id]" class="btn-floating waves-light red right"><i class="material-icons">delete</i></a>
                        <a [routerLink]="['/edit-evento', dtevents.data.id]" class="btn-floating waves-light blue right"><i class="material-icons">edit</i></a>
                </div>
             </div>
            </div>
        </div>
    </div>
</div>