<div class="main-content" xmlns:height="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"> Gerenciar Eventos</h4>                
                </div>          
                <div class="row" *ngFor="let event of events.data">
                    <div class="col s12 center">                            
                        <div class="card horizontal">                                    
                          <div class="card-stacked">                                
                            <div class="card-content">
                            <span class="card-title">{{event.nome}}</span>
                              <p>{{event.descricao}}</p>                              
                            </div>
                            <div class="card-action" ng *ngIf="event.status == 1">                            
                            <p class="text-danger" *ngIf="event.status == 0">Desativado</p>
                            <p class="text-success" *ngIf="event.status == 1">Ativado</p>

                            <a (click) = "deleteEvent(events.data.id)" class="btn waves-light red left"><i class="material-icons left">block</i>Desativar</a>
                            <a [routerLink]="['/detalhes-evento', event.id]" class="waves-effect waves-light btn green right"><i
                                        class="material-icons left">event</i>Ver Evento</a>
                            </div>
                            <div class="card-action" ng *ngIf="event.status == 0">                            
                                <p class="text-danger" *ngIf="event.status == 0">Desativado</p>
                                <p class="text-success" *ngIf="event.status == 1">Ativado</p>
                                
                                <a (click) = "activeEvent(events.data.id)" class="btn waves-light green left"><i class="material-icons left">check_box</i>Ativar</a>                              
                                <a [routerLink]="['/detalhes-evento', event.id]" class="waves-effect waves-light btn green right"><i
                                            class="material-icons left">event</i>Ver Evento</a>
                                </div>
                          </div>
                        </div>
                      </div>
                </div>                                       
        </div>
    </div>
</div>
  </div>
</div>