<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Eventos</h4>
                        <p class="category">Lista de eventos</p>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let event of events.data">
                                <div class="card" style="width: auto">
                                    <div class="h4 text-center">{{event.nome}}</div>
                                    <div class="card-image">
                                        <img src="../../assets/img/angular-red.png" style="width: 18em">
                                    </div>
                                    <a href="detalhes-evento" class="waves-effect waves-light btn green col s12" *ngIf="events.data"><i
                                            class="material-icons left">event</i>Ver
                                        Evento</a>
                                    <div class="card-content">
                                        <p>{{event.descricao}}</p>
                                        <!--<a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                                class="material-icons">delete</i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Atualizado há 3 minutos atrás
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>