<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Perfil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="nome" value="michael23">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" placeholder="Email"
                                               value="mkandrew@email.com">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="Company" value="Mike">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sobrenome</label>
                                        <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CPF</label>
                                        <input type="cpf" class="form-control" placeholder="123.456.789-12"
                                               value="123.456.789-12">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input type="password" class="form-control" placeholder="senha">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Celular</label>
                                        <input type="phone" class="form-control" placeholder="(63)12345678"
                                               value="(63)12345678">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="waves-effect waves-light right btn blue"><i class="material-icons left">save</i>Salvar
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Status de Eventos</h4>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col s6">
                                <p>Evento 1:</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn blue"><i class="material-icons left">event</i>Ver
                                    Evento</a>
                            </div>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn green"><i class="material-icons left">school</i>Certificado</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <p>Evento 2:</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 80%"></div>
                                </div>
                            </div>
                            <!--<div class="col s3">
                                <a class="waves-effect waves-light btn blue"><i class="material-icons left">event</i>Ver
                                    Evento</a>
                            </div>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn green"><i class="material-icons left">school</i>Certificado</a>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <p>Evento 3:</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 50%"></div>
                                </div>
                            </div>
                            <!--<div class="col s3">
                                <a class="waves-effect waves-light btn blue"><i class="material-icons left">event</i>Ver
                                    Evento</a>
                            </div>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn green"><i class="material-icons left">school</i>Certificado</a>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <p>Evento 4:</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn blue"><i class="material-icons left">event</i>Ver
                                    Evento</a>
                            </div>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn green"><i class="material-icons left">school</i>Certificado</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
