<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Perfil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="nome" value="michael23">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" placeholder="Email"
                                               value="mkandrew@email.com">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="Company" value="Mike">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sobrenome</label>
                                        <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CPF</label>
                                        <input type="cpf" class="form-control" placeholder="123.456.789-12"
                                               value="123.456.789-12">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input type="password" class="form-control" placeholder="senha">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Celular</label>
                                        <input type="phone" class="form-control" placeholder="(63)12345678"
                                               value="(63)12345678">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                             alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">Mike Andrew<br/>
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Eventos</h4>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m6 ">
                                <p>Evento 1:</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <a class="waves-effect waves-light btn blue center"><i class="material-icons">event</i></a>
                                <a class="waves-effect waves-light btn green"><i class="material-icons">school</i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 ">
                                <p>Evento 2: </p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                            <!--<div class="col s12 m6">
                                <a class="waves-effect waves-light btn blue center"><i class="material-icons">event</i></a>
                                <a class="waves-effect waves-light btn green"><i class="material-icons">school</i></a>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col s12 m6 ">
                                <p>Evento 3:</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 29%"></div>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <!--<a class="waves-effect waves-light btn blue center"><i class="material-icons">event</i></a>
                                <a class="waves-effect waves-light btn green"><i class="material-icons">school</i></a>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 ">
                                <p>Evento 5:</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <a class="waves-effect waves-light btn blue center"><i class="material-icons">event</i></a>
                                <a class="waves-effect waves-light btn green"><i class="material-icons">school</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
