<div class="main-content">
    <div class="container-fluid">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Controle de Frequência - Nome do Evento</h4>
                        <p class="category">Lista de frequência do dia 01</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <div class="table-responsive">
                                <table id="tb-controle-frequencia" class="table table-striped table-bordered"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Nome</th>
                                        <th class="text-center">CPF</th>
                                        <th class="text-center">e-mail</th>
                                        <th class="text-center">Presença</th>
                                        <th class="text-center">Mover para Lista de Espera</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Rômulo Oliveira</td>
                                        <td>12345678912</td>
                                        <td>romulormos@gmail.com</td>
                                        <td>
                                            <div class="checkbox-circle">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Guilherme Dias</td>
                                        <td>12345678912</td>
                                        <td>guilhermedude.7@gmail.com</td>
                                        <td>
                                            <div class="checkbox-circle">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tfoot>
                                    <tr>
                                        <th class="text-center">Nome</th>
                                        <th class="text-center">CPF</th>
                                        <th class="text-center">e-mail</th>
                                        <th class="text-center">Presença</th>
                                        <th class="text-center">Mover para Lista de Espera</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="header">
                                <h4 class="title">Lista de Espera</h4>
                                <p class="category">Lista de espera do evento</p>
                            </div>
                            <table id="tb-lista-espera" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">CPF</th>
                                    <th class="text-center">e-mail</th>
                                    <th class="text-center">Mover para Controle de Frequência</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Rômulo Oliveira</td>
                                    <td>12345678912</td>
                                    <td>romulormos@gmail.com</td>
                                    <td>
                                        <div class="text-center">
                                            <i class="material-icons">keyboard_arrow_up</i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Guilherme Dias</td>
                                    <td>12345678912</td>
                                    <td>guilhermedude.7@gmail.com</td>
                                    <td>
                                        <div class="text-center">
                                            <i class="material-icons center">keyboard_arrow_up</i>
                                        </div>
                                    </td>
                                </tr>
                                <tfoot>
                                <tr>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">CPF</th>
                                    <th class="text-center">e-mail</th>
                                    <th class="text-center">Mover para Controle de Frequência</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="waves-effect waves-light btn yellow"><i
                                            class="material-icons black-text">picture_as_pdf</i></a>
                                </div>
                                <div class="col-md-6 offset-md6">
                                    <a class="waves-effect waves-light btn red"><i
                                            class="material-icons black-text">keyboard_backspace</i></a>
                                    <a class="waves-effect waves-light btn green"><i
                                            class="material-icons black-text">check</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>