<html>
<body>
<div class="container">
    <div class="col s12 m4 18">
        <div class="card">
            <div class="header">
                <h4 class="title">Recuperar Senha</h4>
                <p class="category">Informe seu email para recuperação de senha</p>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <form id = "formResetPassword" name = "formResetPassword" #formReset = "ngForm" (ngSubmit) = "resetPassword(formReset.value)">
                            <div class="card">
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="form-group input-field col s12" [ngClass]="{'has-error': !email.valid && (email.dirty || email.touched)}">
                                                <i class="material-icons prefix">email</i>
                                                <input id="icon_email" type="text" name="email" class="form-control" #email="ngModel" required ngModel>
                                                <label for="icon_email" class="control-label">Email</label>
                                                            <span class="help-block" *ngIf="email.errors && (email.dirty || email.touched)">
                                                                    <ul>
                                                                        <li *ngIf="email.errors.required">
                                                                          O campo é obrigatório!
                                                                        </li>
                                                                    </ul>
                                                            </span>
                                            </div>
                                            <div class="col s12 text-right">
                                                <button type="submit" class="btn waves-light green" [disabled]="!formReset.valid" value="reset"><i class="material-icons left">send</i>Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>