<html>
<body>
<div class="container center">
    <div class="col s12 m4 18 center">
        <div class="card">
            <img class="responsive-img" style="width: 5em;" src="../../../../assets/img/angular-red.png"/>
            <div class="header">
                <h4 class="title">Recuperar Senha</h4>
                <p class="category">Informe seu email para recuperação de senha</p>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <form id = "formResetPassword" name = "formResetPassword" #productData = "ngForm" (ngSubmit) = "resetPassword(productData.value)">
                            <div class="card">
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons left">email</i>
                                                <input id="email" type="text" name="email" placeholder="Email" class="form-control" ngModel>
                                            </div>
                                            <div class="col s12 text-right">
                                                <button type="submit" class="waves-effect waves-light btn green" value="reset"><i class="material-icons left">send</i>Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>