<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Cadastro de Eventos</h4>
                    </div>
                    <div class="content">
                        <form id = "formNewEvent" name = "formNewEvent" #eventData = "ngForm" (ngSubmit) = "addNewEvent(eventData.value)">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col s6">
                                    <div class="card" style="width: auto">
                                        <div class="card-image">
                                            <p class="text-center">Logo do Evento.</p>
                                            <img src="../../../assets/img/angular2-logo-white.png" style="width: auto">
                                        </div>
                                        <div class="file-field input-field">
                                            <div class="btn blue">
                                                <i class="material-icons left">file_upload</i>
                                                <span>Upload Banner</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="card" style="width: auto">
                                        <div class="card" style="height: auto">
                                            <div class="row">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">event</i>
                                                            <input id="icon_prefix" type="text" class="validate" ngModel>
                                                            <label for="icon_prefix">Nome</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">description</i>
                                                            <input id="icon_description" type="text" class="validate" ngModel>
                                                            <label for="icon_description">Descrição</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">location_on</i>
                                                            <input id="icon_local" type="tel" class="validate" ngModel>
                                                            <label for="icon_local">Local</label>
                                                        </div>
                                                        <div class="col s6">
                                                            <i class="material-icons left">today</i><label for="icon_dt-conclusao">Data de Inicio</label>
                                                            <input id="icon_dt-inicio" type="datetime-local" class="validate" ngModel>
                                                        </div>
                                                        <div class="col s6">
                                                            <i class="material-icons left">today</i><label for="icon_dt-conclusao">Data de Conclusão</label>
                                                            <input id="icon_dt-conclusao" type="datetime-local" class="validate" ngModel>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 text-right">
                                <input type="submit" routerLink="/cad-atividade" class="waves-effect waves-light btn green" value="Cadastrar">
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>